<div class="chat">
    <div class="friends">
        <div class="friend">
            <span>Name</span>
        </div>
    </div>
    
    <div class="chatarea">
        <div class="header">
            <p>Friend's name</p>
        </div>
        <div class="chatbox">
            <ul>
                <li *ngFor="let message of webSocketService.getMessages()" class="message">
                    <span class="username">{{message.username}} -></span>
                    <span>{{message.message}}</span>
                </li>
            </ul>
        </div>
        <div class="input">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <input type="message" name="message" ngModel required>
                <button type="submit"><fa-icon [icon]="icon" class="fa-3x"></fa-icon></button>
            </form>
        </div>
    </div>
</div>