.post {
    background: #1a1a1b;
    padding: 15px;

    margin-bottom: 15px;
    
    .main {
        margin-bottom: 25px;

        .header {
            display: flex;
            font-display: row;
            margin-bottom: 20px;
            
            p:first-of-type {
                margin-right: 5px;
            }
        }
        
        .caption {
            font-weight: bold;
        }
        
        .author {
            align-self: flex-end;
            
            font-size: 12px;
            color: rgb(129,131,132);
        }
    }

    textarea {
        height: 100px;
    }
}

.post:hover {
    border-color: #f0f0f0;
}