<a routerLink="/posts/create" routerLinkActive="active" class="button">Create post</a>
<button (click)="refreshPosts()" class="button">Refresh posts</button>

<!-- TODO: Remove -->
<div class="divider"></div>

<div *ngFor="let post of posts" >
    <a routerLink="/posts/{{post.id}}" routerLinkActive="active">
        <div class="post">
            <div class="header">
                <p class="caption">{{post.caption}}</p>
                <p class="author">Posted by {{post.user.username}}</p>
            </div>
            <p class="content">{{post.content}}</p>
        </div>
    </a>
</div>