<h2>Create a new post</h2>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-item">
        <label for="caption">Title</label>
        <input type="text" placeholder="Enter your title.." id="caption" ngModel name="caption" required>
    </div>

    <div class="form-item">
        <label for="content">Content</label>
        <textarea placeholder="Content.." ngModel id="content" name="content" required></textarea>
    </div>

    <div class="form-button">
        <button type="submit" [disabled]="f.invalid" class="button">Submit</button>
    </div>
</form>